{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}done{% endblock %}</title>
 {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}" /> {% endcomment %}
</head>
<body>
 <h1>create schema</h1>
 {% block create_derived_schema_content %}
    <h1>동적 레이아웃 만들 줄 몰라서 이렇게 했습니다. 양해 부탁드립니다.</h1>
    <h2>Give your schema information</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ create_derived_schema_form }}
        <button type="submit">upload</button>
    </form>
    <div>
        <a href="../">
            go back to index
        </a>
    </div>
 {% endblock %}
</body>
</html>

