{% extends 'pages/task.html' %}

{% block title%}
{{ task_name }}
{% endblock %}

{% block content %}
    <h2>show information of "{{ task_name }}"</h2>
    {{ task_info }}
    <h3>attributes</h3>
    {{ task_attributes|linebreaks }}
    <h3>derived schemas</h3>
    {{ task_derived_schemas|linebreaks }}
    <div>
        <a href="/">
            go back to index
        </a>
    </div>
    <div>
        <a href="./attribute">
            manage attributes
        </a>
    </div>
    <div>
        <a href="./derived_schema">
            manage derived schemas
        </a>
    </div>
{% endblock %}

